{% extends 'base.html.twig' %}

{% block body %}

    <h1>S'inscrire</h1>
    {{ form_start(form) }}
        {{ form_label(form.username) }}
        {{ form_widget(form.username) }}

        {{ form_label(form.gender) }}
        {{ form_widget(form.gender) }}

        {{ form_label(form.age) }}
        {{ form_widget(form.age) }}

        {{ form_label(form.galaxie) }}
        {{ form_widget(form.galaxie) }}

        {{ form_label(form.Espece) }}
        {{ form_widget(form.Espece) }}

        {{ form_label(form.mail) }}
        {{ form_widget(form.mail) }}

        {{ form_widget(form.password) }}

    <div class="text-right">
        <button type="submit" class="btn btn-light bgBlue">Se connecter</button>
    </div>

    {{ form_end(form) }}
{% endblock %}